body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
}

.grid-item {
    box-sizing: border-box;
    background-color: lightgray;
    cursor: pointer;
}

